@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #20242d;
}

.primary-color{
  background-image: linear-gradient(to right,#dd32f3,#ce90cb);
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-color{
  background-image: linear-gradient(to right,#6b2b72,#a5079d);
}
